<%= form_with(model: namecard, local: true) do |form| %>
  <% if namecard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(namecard.errors.count, "error") %> prohibited this namecard from being saved:</h2>

      <ul>
      <% namecard.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :namecard_name %>
  </div>

  <div class="field">
    <%= form.label :tel %>
    <%= form.text_field :tel, id: :namecard_tel %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :namecard_address %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company, id: :namecard_company %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
